body {
  background-image: url('./images/pattern-background-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Red Hat Display', sans-serif;
}

p {
  font-size: 16px;
}

@media screen {
  
}

.container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20vh;
}

.card {
  /* background-color: hsl(225, 100%, 98%); */
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 2rem;
}

.card .header-image {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.content {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .content .card-title,.card-info {
  text-align: center;
}

.card .content .card-title {
  font-size: 24px;
  font-weight: 900;
  margin-top: 2rem;
}

.card .content .card-info {
  opacity: 0.5;
  padding-bottom: 1rem;
}

.card-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  padding: 20px;
  margin-left: -20px;
  border-radius: 12px;
  /* background-color: hsl(225, 100%, 94%); */
  background-color: hsl(225, 100%, 98%);
}

.card-details .card-pricing {
  display: flex;
}

.card-details img {
  height: 45px;
  margin-right: 1rem;
}

.card-plan span:first-child {
  font-weight: 900;
}

.card-plan .card-price {
  opacity: 0.5;
}

.card-plan, .card-change {
  margin: auto 0;
}

.card-change a {
  font-weight: 700;
  font-size: 13px;
}

.card-change a:hover {
  text-decoration: none;
}

.card-controls {
  display: flex;
  flex-direction: column;
}

.card-controls button {
  color: #fff;
  font-weight: 900;
  background-color: blue;
  border-radius: 8px;
  border: 0;
  width: 114%;
  margin-left: -7%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-controls button:hover {
  opacity: 0.5;
}

.card-controls a {
  margin: auto;
  margin-bottom: 2rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  color: #000;
  opacity: 0.5;
}

.card-controls a:hover {
  opacity: 1;
}
