body {
  background-image: url('./images/pattern-background-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20vh;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card .header-image {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.content {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .content .card-title,.card-info {
  text-align: center;
}

.card .content .card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-details .card-pricing {
  display: flex;
  /* flex-direction: column; */
  /* height: 90px; */
}

.card-details img {
  height: 50px;
  margin-right: 1rem;

  /* width: 20%;
  height: 20%; */
  /* height: 30%; */
  /* width: 30%;
  height: 30%; */
}

.card-controls {
  display: flex;
  flex-direction: column;
}

.card-controls a {
  margin: auto;
}
